* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(75, 74, 74);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: monospace;
}

h1 {
  margin-bottom: 2em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1em;
}
button {
  margin-top: 1em;
  padding: 0.5em 2em;
  border-radius: 5px;
  color: white;
  border: none;
  font-weight: bolder;
  font-size: 1.5em;
}

.on {
  background-color: rgb(35, 134, 96);
}

.off {
  background-color: rgb(180, 88, 88);
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

#vid {
  border-radius: 1em;
  margin-bottom: 1em;
}
